@page
@model MeterReaderWeb.Views.Home.Send
<div>
    <div>Test gRPC/Web Request</div>
    <button id="theButton">Send Packet</button>
    <div id="theLog"></div>
</div>

<script src="~/js/send/main.js" defer></script>